@{
	ViewData["Title"] = "Home Page";
}
<body id="HomepageBody">

	<div class="text-center">
		<h1 class="display-4">...Welcome...</h1>
		<p style="font-size: 26px">Your place to seek and offer all kinds of services!</p>
	</div>

	@*Buttons*@
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<div class="card">
					<div class="card-body" style="background-color : darkslategray">
						<h5 class="card-title">Search Service Offers</h5>
						<p class="card-text">Find the service you need and contact the provider.</p>
						<a href="~/Service/All" class="btn btn-primary">Find a service</a>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="card">
					<div class="card-body" style="background-color : darkslategray">
						<h5 class="card-title">Offer your Service</h5>
						<p class="card-text">Put your profesionalism to work!</p>
						<a href="~/Services/Create" class="btn btn-primary">Offer a service</a>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="card">
					<div class="card-body" style="background-color : darkslategray">
						<h5 class="card-title">Contact us</h5>
						<p class="card-text">Contact us for any questions or suggestions.</p>
						<a href="~/Home/Contact" class="btn btn-primary">Send us a Message</a>
						<button type="button" class="btn btn-primary" onclick="location.href='/Home/Anonymous'">Send Anonymously</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
