html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

#HomepageBody {
    color: white;
    background-image: url('/Images/WebPrjct_background2.png');
    background-repeat: no-repeat;
    background-position: center;
}
#ContactView {
    color: white;
    background-image: url('/Images/WebPrjct_background2.png');
    background-repeat: no-repeat;
    background-position: center;
}
#AnonymousView {
    color: white;
    background-image: url('/Images/WebPrjct_background2.png');
    background-repeat: no-repeat;
    background-position: center;
}
.btn-primary {
    background-color: #4caf50 !important;  /*green*/ 
    border-color: #4caf50 !important;  /*green*/ 
}
/* Change the background color of the text boxes */
.form-control {
    background-color: darkslategray;
    color: white;
}






